@charset "utf-8";

/* Global CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grade {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  color: black;
  margin: 5px auto;
  padding-top: 9px;
  display: inline-block;
}

.grade-a {
  background-color: green;
}

.grade-b {
  background-color: orange;
}

.grade-c {
  background-color: yellow;
}

.grade-d {
  background-color: red;
}

.grade-f {
  background-color: brown;
}