@charset "utf-8";

body {
  background: url("river_image_background.jpg");
  background-repeat: repeat-y;
}

.grade-a {
  background-color: #127c3d;
  color: #fff;
}

.grade-b {
  background-color: #97b55a;
  color: #fff;
}

.grade-c {
  background-color: #f6bc1e;
  color: #fff;
}

.grade-d {
  background-color: #da6b27;
  color: #fff;
}

.grade-f {
  background-color: #ee2123;
  color: #fff;
}

.grade-na {
  background-color: darkgray;
  color: #fff;
}

table {
  background-color: white;
}

.wqi {
  color: white;
}

.info {
  background-color: #22aae1;
}